{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<div class="footer">
    <div class="social-icons">
        <a href="#"><img src="{% static 'icons/instagram.webp' %}" alt="Instagram"></a>
        <a href="#"><img src="{% static 'icons/facebook.webp' %}" alt="Facebook"></a>
        <a href="#"><img src="{% static 'icons/twitter.webp' %}" alt="Twitter"></a>
        <a href="#"><img src="{% static 'icons/youtube.webp' %}" alt="Youtube"></a>
        <a href="#"><img src="{% static 'icons/github.webp' %}" alt="Github"></a>
    </div>
    <p>© 2025 My ToDo App. All rights reserved.</p>
</div>