{% load static %}


<nav class="navbar">
    <div class="logo">
        <img src="{% static 'icons/logo.webp' %}" alt="Logo">
    </div>
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
        
    <div class="navitems"
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="#">My Tasks</a></li>
                <li><a href="#">Add Task</a></li>
                <li><a href="{% url 'logout' %}">{{user.username}} - Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>