.navbar {
    display: flex;
    position: fixed;
    flex-direction: row;
    font-size: 15px;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    align-items: center;
    left:0px;
    top:0px;
    border-bottom: 1px black solid;
    z-index: 1;
}
.navitems {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;

}
.navitems ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li {
    list-style-type: none;
    padding: 0 10px;
}
.navbar li a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.navbar li a:hover {
    text-decoration: underline;
    color: rgb(219, 170, 11);
}
.logo img {
    left: 10px;
    padding: 3px;
    width: 40px;
    height: 40px;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle .bar {
    background-color: black;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: all 0.3s ease;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(125, 131, 135, 0.9);
    color:#fff;
    z-index: 1;
    display: none;
}
@media  screen and (max-width: 768px) {
    .navitems {
        display: none;
    }
    .menu-toggle {
        display: flex;
        cursor: pointer;
    }
    .menu-toggle.open .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        background-color: #fff;
    }

    .menu-toggle.open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        background-color: #fff;
    }
    .overlay.active {
        display: block;
    }
    .overlay-content {
        position: absolute;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay-content ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .overlay-content li {
        margin: 10px 0;
    }
    .overlay-content a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        transition: all 0.3s ease;
    }
    .overlay-content a:hover {
        color: rgb(219, 170, 11);
    }
}
